name: Coverity Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  coverity_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Show list
      run: |
        ls -la

    - name: Download Coverity Scan Tool
      run: |
        pwd
        ls -la
        wget --quiet https://scan.coverity.com/download/linux64 \
          --post-data "token=${{ secrets.ICT_COVERITY_KEY  }}&project=${{ secrets.ICT_COVERITY_PROJECT_ID }}" \
          -O coverity_tool.tgz
        mkdir cov-analysis
        tar xzf coverity_tool.tgz --strip-components=1 -C cov-analysis