name: Coverity Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  coverity_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Show list
      run: |
        ls -la

    - name: Debug ICT_COVERITY_KEY
      run: |
        if [ -z "$ICT_COVERITY_KEY" ]; then
          echo "ICT_COVERITY_KEY is not set"
          exit 1
        else
          echo "ICT_COVERITY_KEY is set"
        fi
      env:
          ICT_COVERITY_KEY: ${{ secrets.ICT_COVERITY_KEY }}

    - name: Debug ICT_COVERITY_PROJECT_ID
      run: |
        if [ -z "$ICT_COVERITY_PROJECT_ID" ]; then
          echo "ICT_COVERITY_PROJECT_ID is not set"
          exit 1
        else
          echo "ICT_COVERITY_PROJECT_ID is set"
        fi
      env:
          ICT_COVERITY_PROJECT_ID: ${{ secrets.ICT_COVERITY_PROJECT_ID }}

    - name: Download Coverity Scan Tool
      env:
        ICT_COVERITY_KEY: ${{ secrets.ICT_COVERITY_KEY }}
        ICT_COVERITY_PROJECT_ID: ${{ secrets.ICT_COVERITY_PROJECT_ID }}
      run: |
          cd $HOME
          wget --quiet https://scan.coverity.com/download/linux64 --post-data "token=$ICT_COVERITY_KEY&project=$ICT_COVERITY_PROJECT_ID" -O coverity_tool.tgz
          mkdir cov-analysis
          tar xzf coverity_tool.tgz --strip-components=1 -C cov-analysis
