name: Run unit test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Unit-Tester:
    name: Unit Testing
    runs-on: ["ubuntu-latest"]
    container: ubuntu:24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y curl ca-certificates sudo
          update-ca-certificates

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run unit tests
        run: go test -v ./internal/...